@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');

body {
  background-color: white;
  font-family: 'Oldenburg', cursive;
}

button {
  border-radius: 5px;
  padding: 0.75em 1em;
  display: inline-block;
  margin: 10px;
  width: fit-content;
  font-size: 14px;
}  

.homepage-section-top {
  padding: 50px 0;
}

.homepage-section {
  padding: 75px 0;
}

nav ul li {
  display: inline-block;
  font-size: 2rem;
  position: relative;
  text-align: center;
  padding-left: 10px;
}

#nav-search:hover::after {
  content: "Search";
  position: absolute; 
  top: 100%; 
  left: 50%; /* Move the content to the center of the li */
  transform: translateX(-50%);
  font-size: 1rem; 
}

#nav-jobs:hover::after {
  content: "Jobs";
  position: absolute; 
  top: 100%; 
  left: 50%; /* Move the content to the center of the li */
  transform: translateX(-50%);
  font-size: 1rem; 
}

#nav-profile:hover::after {
  content: "Profile";
  position: absolute; 
  top: 100%; 
  left: 50%; /* Move the content to the center of the li */
  transform: translateX(-50%);
  font-size: 1rem; 
}

/* Add Plot Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the modal appears above other content */
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px; /* Adjust as needed */
  width: 100%;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}
