@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');

:root {
  --yard-blue: #4893CC;
  --yard-orange: #DF7E07;
  --yard-red: #D84861;
  --yard-green: #399349;
  --yard-yellow: #FFD15C;
  --yard-gray: #848484;
}

body {
  background-color: white;
  font-family: 'Oldenburg', cursive;
}

button {
  border-radius: 5px;
  padding: 0.75em 1em;
  display: inline-block;
  margin: 10px;
  width: fit-content;
  font-size: 14px;
}  

.homepage-section-top {
  padding: 50px 0;
}

.homepage-section {
  padding: 75px 0;
}

nav ul li {
  display: inline-block;
  font-size: 2rem;
  position: relative;
  text-align: center;
  padding-left: 10px;
}

#nav-search:hover::after {
  content: "Search";
  position: absolute; 
  top: 100%; 
  left: 50%; /* Move the content to the center of the li */
  transform: translateX(-50%);
  font-size: 1rem; 
}

#nav-jobs:hover::after {
  content: "Jobs";
  position: absolute; 
  top: 100%; 
  left: 50%; /* Move the content to the center of the li */
  transform: translateX(-50%);
  font-size: 1rem; 
}

#nav-profile:hover::after {
  content: "Profile";
  position: absolute; 
  top: 100%; 
  left: 50%; /* Move the content to the center of the li */
  transform: translateX(-50%);
  font-size: 1rem; 
}

/* Form Styling */


form input {
  color: var(--yard-blue);
  text-align: center;
  border: 1px solid var(--yard-blue);
  border-radius: 5px;
  margin: 8px;
  padding: 2px;
  width: 80%;
  max-width: 400px;
}

form input::placeholder {
  color: var(--yard-blue);
  opacity: 1; /* Firefox */
  text-align: center;
}

/* Plot Card */

.plot-card-container {
  max-height: 200px;
  max-width: 300px;
  border: 1px solid var(--yard-blue);
  border-radius: 5px;
  overflow: hidden;
  position: relative; /* Add this line */
}

.plot-card-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.plot-card-image {
  object-fit: cover;
  width: 100%; /* Add this line */
  height: 100%; /* Add this line */
}

.plot-card-text {
  background-color: white;
  padding: 5px;
  text-align: center;
  position: absolute; /* Add this line */
  bottom: 0; /* Add this line */
  left: 0; /* Add this line */
  right: 0; /* Add this line */
}



/* Add Plot Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the modal appears above other content */
}

.plot-modal {
 padding: 30px 0; 
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  /* border-radius: 10px; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px; /* Adjust as needed */
  width: 100%;
  position: relative;
}


.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: var(--yard-gray);
}

